* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Raleway;
    height: auto;
}
/*-------------------------header---------------------------------------*/
.header {
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%);
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 75px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

    .header.sticky {
        background: linear-gradient(90deg, #FEA8A7 100%, #FCD2BA 0%);
    }

    .header:hover {
        background: linear-gradient(90deg, #fbbebd 0%, #fadece 100%);
    }

.logo {
    flex: 1;
}

    .logo img {
        width: 200px;
        height: 70px;
    }

.row {
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.menu {
    flex: 3;
    display: flex;
}

    .menu li {
        padding: 0 4px;
        position: relative;
    }

        .menu li:hover .sub-menu {
            visibility: visible;
            top: 20px;
        }

        .menu li a {
            font-size: 20px;
            font-weight: bold !important;
            display: block;
            padding-bottom: 3px;
            padding-right: 50px;
            line-height: 20px;
        }

            .menu li a:hover {
                color: #030303;
                font-size: 22px;
            }

.sub-menu {
    position: absolute;
    width: 555px;
    border: 1px solid #CCC;
    padding: 10px 0 10px 0;
    visibility: hidden;
    top: 35px;
    transition: 0.3s;
    z-index: 1;
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%);
}

    .sub-menu ul a {
        font-weight: normal !important;
        font-size: 17px !important;
    }

    .sub-menu a {
        padding: 7px 0 0 7px;
        text-align: left;
        padding-right: 0 !important;
    }

    .sub-menu li {
        padding-right: 0 !important;
    }

    .sub-menu ul a {
        border: none;
    }

.columm {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.menu-category {
    width: 50%;
}

.sub-menu a:hover {
    background: linear-gradient(90deg, #fea8a795 0%, #fcd2bad5 100%);
    border: 1px solid #ddd;
}

.others {
    display: flex;
    align-items: center;
}

    .others li {
        padding: 0 13px;
        position: relative;
        cursor: pointer;
    }

.menu-u-drop {
    position: absolute;
    transition: 0.3s;
    z-index: 1;
    visibility: hidden;
    min-width: 164px;
    min-height: 44px;
    background: #FEA8A7;
    border-radius: 0px 0px 5px 5px;
}

    .menu-u-drop li {
        padding: 3px 5px !important;
        border-bottom: 1px solid #ddd;
        border-radius: 5px;
    }

        .menu-u-drop li:hover {
            background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%);
            font-weight: bold;
            border-bottom: 1px solid #000;
        }

        .menu-u-drop li a {
            font-size: 18px;
        }

.user-drop a {
    font-size: 20px;
}

.user-drop:hover .menu-u-drop {
    visibility: visible;
}
/*-------------------------slider---------------------------------------*/
#Slider {
    border-bottom: 2px solid #000;
    overflow: hidden;
}

.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 50.25%;
    transition: 0.3s;
}

    .aspect-ratio-169 img {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

.dot-container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%);
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #ae7675;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}

    .dot.active {
        background-color: #efd4d4;
    }
/*-------------------------body-page-fast---------------------------------------*/
.body-page {
    padding-top: 32px;
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%);
}

.body-page-fast li:first-child input {
    width: 40%;
    border: none;
    border: 1px solid #ddd;
    border-radius: 20px;
    background: #fff;
    outline: none;
    padding-left: 15px;
}

.body-page-fast li:first-child {
    position: relative;
}

    .body-page-fast li:first-child i {
        position: absolute;
        right: 447px;
        top: 4px;
    }

.body-page-fast {
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%);
    align-items: center;
    text-align: center;
}

.body-page-fast-bottom {
    padding: 40px;
}

    .body-page-fast-bottom img {
        width: 220px;
        height: 205px;
        border-radius: 50%;
        cursor: pointer;
    }

    .body-page-fast-bottom p {
        padding-top: 10px;
        font-size: 20px;
        font-weight: bold;
    }
/*-------------------------body-page-ads---------------------------------------*/
.body-page-ads {
    background: whitesmoke;
}

.body-page-ads-top {
    padding-top: 10px;
    text-align: center;
    align-items: center;
}

.body-page-ads-top-title h1 {
    font-size: 30px;
    padding: 10px;
}

.body-page-ads-top-content {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.body-page-ads-top-content-left {
    background: linear-gradient(180deg, #F4439F 0%, #F3C960 100%);
    border-radius: 10px;
    width: 627px;
    height: 358px;
    display: flex;
    justify-content: space-evenly;
}

.body-page-ads-top-content-left-img img {
    width: 269px;
    height: 358px;
}

.body-page-ads-top-content-right {
    background: linear-gradient(180deg, #F4439F 0%, #F3C960 100%);
    border-radius: 10px;
    width: 627px;
    height: 358px;
    display: flex;
    justify-content: space-evenly;
}

.body-page-ads-top-content-right-img img {
    width: 269px;
    height: 358px;
}

.body-page-ads-bottom {
    padding-top: 10px;
    text-align: center;
    align-items: center;
}

.body-page-ads-bottom-title h1 {
    font-size: 30px;
    padding: 10px;
}

.body-page-ads-bottom-content {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.body-page-ads-bottom-content-left {
    background: linear-gradient(180deg, #F4439F 0%, #F3C960 100%);
    border-radius: 10px;
    width: 627px;
    height: 358px;
    display: flex;
    justify-content: space-evenly;
}

.body-page-ads-bottom-content-left-img img {
    width: 269px;
    height: 358px;
}

.body-page-ads-bottom-content-right {
    background: linear-gradient(180deg, #F4439F 0%, #F3C960 100%);
    border-radius: 10px;
    width: 627px;
    height: 358px;
    display: flex;
    justify-content: space-evenly;
}

.body-page-ads-bottom-content-right-img img {
    width: 269px;
    height: 358px;
}

.body-page-ads-content {
    text-align: left;
    width: 358px;
    height: 358px;
    padding: 15px 30px
}
/*-------------------------body-page-service---------------------------------------*/
.body-page-service {
    background: linear-gradient(89.92deg, #FE8A93 1.14%, #E5DAB2 99.93%);
}

.body-page-service-top h1 {
    padding-top: 5px;
    font-size: 30px;
    text-align: center;
}

.body-page-service-bottom {
    height: 500px;
}

.body-page-service-bottom-left {
    width: 50%;
    text-align: center;
    padding-left: 20px;
    display: flex;
}

.body-page-service-bottom-left-l {
    width: 37px;
}

    .body-page-service-bottom-left-l img {
        padding: 170px 0;
        cursor: pointer;
    }

.body-page-service-bottom-left-m {
    width: 74%;
}

    .body-page-service-bottom-left-m img {
        width: 510px;
        height: 401px;
    }

.body-page-service-bottom-left-m-ct2 {
    display: none;
}

.body-page-service-bottom-left-r {
    width: 37px;
}

    .body-page-service-bottom-left-r img {
        padding: 170px 0;
        cursor: pointer;
    }

.body-page-service-bottom-right {
    width: 50%;
}

.body-page-service-bottom-right-ct2 {
    display: none;
}

.body-page-service-bottom-right h2 {
    padding: 30px 10px;
}

.body-page-service-bottom-right-content {
    width: 70%;
    height: 57%;
}

.body-page-service-bottom-right p {
    padding: 5px 20px;
}

.body-page-service-bottom-right-button {
    text-align: left;
}

    .body-page-service-bottom-right-button button {
        background: #FFFBFB;
        border-radius: 10px;
        border: none;
        color: #984141;
        font-size: 16px;
        font-family: Raleway;
        margin-right: 15px;
        cursor: pointer;
    }

        .body-page-service-bottom-right-button button:hover {
            background: #984141;
            color: #FFFBFB;
        }
/*-------------------------footer---------------------------------------*/
.footer {
    align-items: center;
    background: linear-gradient(180deg, #FB7677 0%, #FCD2BA 100%);
}

.footer-left {
    width: 54%;
}

.footer-left-img {
    padding: 25px 70px;
}

    .footer-left-img img {
        width: 329px;
        height: 118px;
    }

.footer-right {
    width: 46%;
}

.footer-left-item {
    padding-top: 37px;
}

    .footer-left-item h1 {
        font-size: 23px;
        padding-bottom: 5px;
    }

    .footer-left-item p {
        padding: 5px 18px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 18px;
    }

    .footer-left-item a {
        cursor: pointer;
    }

.footer-right-map {
    width: 80%;
    padding: 10px 20px 0 0;
}

.footer-bottom hr {
    width: 100%;
    color: #ddd;
    margin-bottom: 5px;
}

.footer-bottom {
    text-align: center;
    padding-bottom: 5px;
}
/*-------------------------contact-button---------------------------------------*/
#myBtn {
    display: none;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 120px;
    right: 5px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #FB7677;
    color: white;
    cursor: pointer;
    padding-top: 5px;
    border-radius: 50%;
}

    #myBtn:hover {
        background-color: #FCD2BA;
        color: #FB7677;
    }

#myZalo {
    display: none;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 64px;
    right: 5px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #0074CC;
    color: white;
    cursor: pointer;
    border-radius: 50%;
}

    #myZalo:hover {
        background-color: #055b9d;
        color: white;
    }

#myCall {
    display: none;
    position: fixed;
    height: 50px;
    width: 50px;
    bottom: 7px;
    right: 5px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #4de37d;
    color: black;
    cursor: pointer;
    border-radius: 50%;
}

    #myCall:hover {
        background-color: #05812e;
        color: white;
    }
/*-------------------------category---------------------------------------*/
.category {
    width: 100%;
    display: inline-block;
    padding: 100px 55px 12px;
    background-color: #FCCDCD;
}

.category-top {
    display: flex;
    text-align: left;
    padding: 12px 12px 20px 12px;
}

    .category-top a {
        font-size: 19px;
        font-weight: bold;
        margin: 0 7px;
    }

        .category-top a:last-child {
            font-size: 14px;
            font-weight: bold;
            margin: 5px 6px;
        }

    .category-top span {
        font-size: 20px;
        font-weight: bold;
    }

.category-left {
    width: 26%;
}

.category-left-item {
    background: linear-gradient(180deg, #F4439F 0%, #F3C960 100%);
    border-radius: 15px;
    width: 73%;
    height: 17%;
    padding: 3px;
    margin: 33px 22px;
    cursor: pointer;
}

    .category-left-item:first-child {
        margin-top: 155px;
    }

    .category-left-item img {
        height: 100%;
        width: 60%;
        border-radius: 15px;
    }

    .category-left-item p {
        width: 40%;
        font-size: 20px;
        text-align: center;
        margin: 61px 0;
    }

.category-right {
    width: 74%;
    height: 100%;
}
.category-right-top {
    justify-content: space-between;
}
/*.category-right-top-item {
    flex: 1;    
}

    .category-right-top-item:first-child {
        flex: 2;
    }*/
.category-right-top-item input {
    width: 335px;
    padding-left: 10px;
    height: 32px;
    font-size: 17px;
    margin: 4px;
    border: 1px solid #ddd;
    border-radius: 25px;
    cursor: pointer;
}
.category-right-top-item i {
    color: #000;
    padding: 8px;
    position: absolute;
    right: 717px;
    top: 155px;
}
    .category-right-top-item i:hover {
        border: 1px solid #ddd;
        background: #dddddd54;
        border-radius: 0 50% 50% 0;
        cursor: pointer;
    }
.category-right-top-item {
    padding: 0 10px;
}
.category-right-content-item-mhn{
    background: #fff;
}
.category-right-top-item select {
    width: 250px;
    height: 32px;
    font-size: 17px;
    margin: 4px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.category-right-content {
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    flex-wrap: wrap;
}

.category-right-content-item {
    height: 30%;
    min-height: 312px;
    max-height: 312px;
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 12px;
    margin: 5px;
    background: linear-gradient(180deg, #F4439F 0%, #F3C960 100%);
    border-radius: 15px;
}

    .category-right-content-item a {
        font-size: 13.5px;
        font-weight: bold;
    }

    .category-right-content-item h3 {
        font-size: 14px;
        margin-top: 6px;
        color: #333333;
        height: 20%;
    }

    .category-right-content-item p {
        font-weight: bold;
        font-size: 14px;
    }

    .category-right-content-item img {
        width: 100%;
        height: 70%;
        border-radius: 15px;
    }

.category-right-pagination {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0 346px;
    margin: 20px 346px 0;
}

    .category-right-pagination a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        text-align: center;
        transition: background-color .3s;
    }

        .category-right-pagination a.active {
            background-color: #4CAF50;
            color: white;
            border-radius: 5px;
        }

        .category-right-pagination a:hover:not(.active) {
            background-color: #ddd;
            border-radius: 5px;
        }
/*-------------------------product---------------------------------------*/
.product {
    padding: 100px 55px 0 12px;
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%);
}

.product-container-top {
    display: flex;
    text-align: left;
    padding: 0px 12px 20px 12px;
}

    .product-container-top a:first-child {
        font-size: 19px;
        margin: 0 7px;
    }

    .product-container-top a:last-child {
        font-size: 19px;
        margin: 0 7px;
    }

    .product-container-top a {
        font-size: 15px;
        font-weight: bold;
        margin: 4px 6px;
    }

    .product-container-top span {
        font-size: 20px;
        font-weight: bold;
    }

.product-content-left {
    width: 45%;
    padding-top: 16px;
}

.product-content-left-big-img {
    width: 80%;
    padding: 25px 10px 0px 0px;
}

    .product-content-left-big-img img {
        width: 100%;
        border-radius: 5px;
    }

.product-content-left-small-img {
    width: 20%;
    cursor: pointer;
    padding: 22px 4px;
}

    .product-content-left-small-img img {
        width: 100%;
        border-radius: 5px;
        margin: 2px 0;
        border: 1px solid black;
    }

.product-content-right {
    width: 55%;
    padding-left: 20px;
}

.product-content-right-product-name h1 {
    font-size: 26px;
}

.product-content-right-product-name p {
    font-size: 16px;
    padding-top: 11px;
    padding-left: 5px;
    font-weight: bold;
}

.product-content-right-product-price p {
    font-size: 17px;
    padding-top: 10px;
    padding-left: 5px;
    font-weight: bold;
}

.product-content-right-product-size {
    display: flex;
    padding-top: 11px;
}

    .product-content-right-product-size p {
        font-size: 16px;
        padding: 5px;
    }

    .product-content-right-product-size .size {
        display: flex;
        flex-wrap: wrap;
    }

        .product-content-right-product-size .size p {
            padding: 1px;
        }

        .product-content-right-product-size .size button {
            padding: 0 3px;
            margin: 5px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: whitesmoke;
        }

            .product-content-right-product-size .size button:hover {
                background-color: #ddd;
            }

.quantity {
    display: flex;
}

.product-content-right-product-quantity {
    padding-top: 11px;
}

    .product-content-right-product-quantity p {
        font-size: 16px;
        padding-top: 10px;
        font-weight: bold;
        padding: 6px 5px 0px 5px;
    }

        .product-content-right-product-quantity p:last-child {
            font-size: 16px;
            font-weight: inherit;
            padding-left: 11px;
        }

#buy-amount {
    display: flex;
    height: 24px;
    margin-top: 4px;
}

    #buy-amount button {
        width: 27px;
        outline: none;
        background: none;
        background-color: whitesmoke;
        border: 1px solid #ddd;
        border-radius: 5px 0 0 5px;
        cursor: pointer;
    }

        #buy-amount button:last-child {
            border-radius: 0 5px 5px 0;
            font-size: 22px;
        }

        #buy-amount button p {
            color: #000;
            font-size: 21px;
            margin: -3px 0 0px 0px;
            padding: 0;
        }

        #buy-amount button:hover {
            background-color: #ddd;
        }

    #buy-amount #amount {
        width: 34px;
        text-align: center;
    }

.product-content-right-product-button {
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-left: 5px;
}

    .product-content-right-product-button p {
        font-size: 16px;
        font-weight: bold;
        padding: 0 5px;
    }

    .product-content-right-product-button button {
        cursor: pointer;
        height: 40px;
        transition: all 0.3s ease;
        padding: 0 10px;
        margin-right: 10px;
        align-items: center;
        border-radius: 5px;
    }

    .product-content-right-product-button #bnt-gocart {
        display: flex;
        color: #000;
        background-color: #FF9F87;
    }

    .product-content-right-product-button #bnt-gocart {
        background-color: #FB7677;
        border: 1px solid #191818;
    }

    .product-content-right-product-button button:last-child {
        background-color: #0074CC;
        color: white;
    }

        .product-content-right-product-button button:last-child:hover {
            border: 1px solid #191818;
            background-color: #055b9d;
        }

.product-content-right-bottom {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid #dddddd;
    position: relative;
}

.product-content-right-bottom-top {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.product-content-right-bottom-content-title {
    border-bottom: 2px solid #dddddd;
}

.product-content-right-bottom-content-title-item {
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
}

    .product-content-right-bottom-content-title-item p {
        font-size: 16px;
        font-weight: bold;
    }

.product-content-right-bottom-content {
    padding-top: 20px;
    font-size: 15px;
    padding-left: 5px;
}

.product-content-right-bottom-content-lic {
    display: none;
}

.product-content-right-bottom-content-hdsd {
    display: none;
}

.activeB {
    display: none;
}

.color-item-select {
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%) !important;
}

.color-item {
    background: none;
}

.product-related {
    padding: 1px 45px 45px;
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%);
}

.product-related-title {
    margin: 20px 0;
}

    .product-related-title p {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
    }

.product-related-item {
    width: calc(20% - 10px);
    text-align: center;
    padding: 12px 12px;
    margin: 5px;
    background: linear-gradient(180deg, #F4439F 0%, #F3C960 100%);
    border-radius: 15px;
}

    .product-related-item img {
        width: 100%;
        padding: 0 6px;
        border-radius: 15px;
    }

    .product-related-item h1 {
        font-size: 15px;
        font-weight: bold;
        color: #333333;
        margin-top: 6px;
    }

    .product-related-item p {
        font-size: 13px;
    }
/*-------------------------cart---------------------------------------*/
.cart {
    padding: 100px 60px;
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%);
}

.cart-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 70px;
}

.cart-top-item {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

    .cart-top-item a {
        color: #dddddd;
    }

.cart-top-cart {
    border: 1px solid #0DB7EA;
}

.cart-top-item i {
    color: #dddddd;
}

.cart-top-cart a {
    color: #0DB7EA;
}

.cart-content-left {
    flex: 2;
    padding-right: 12px;
    border-radius: 5px 0 0 5px;
    background: #f7f1f126;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

    .cart-content-left table {
        width: 100%;
        text-align: center;
        padding: 13px 3px;
    }

        .cart-content-left table th {
            padding-bottom: 12px;
            font-size: 15px;
            text-transform: uppercase;
            color: #333;
            border-collapse: collapse;
            border-bottom: 2px solid #dddddd;
        }

        .cart-content-left table p {
            font-size: 15px;
            color: #333;
        }

        .cart-content-left table input {
            width: 30px;
        }

        .cart-content-left table span {
            display: block;
            width: 20px;
            height: 20px;
            bottom: 1px solid #dddddd;
            cursor: pointer;
        }

        .cart-content-left table td {
            padding: 20px 11px;
            border-bottom: 2px solid #dddddd;
        }

    .cart-content-left td img {
        width: 130px;
        border-radius: 5px;
    }

.cart-content-right {
    flex: 1;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
    border-radius: 0 5px 5px 0;
    background: #f7f1f126;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

    .cart-content-right table {
        width: 100%;
        padding: 12px 10px;
    }

        .cart-content-right table th {
            padding-bottom: 5px;
            font-size: 16px;
            color: #333;
            border-collapse: collapse;
            border-bottom: 2px solid #dddddd;
        }

        .cart-content-right table td {
            font-size: 15px;
            color: #333;
            padding: 12px 0;
        }

    .cart-content-right tr:nth-child(4) td {
        border-bottom: 2px solid #dddddd;
    }

    .cart-content-right tr td:last-child {
        text-align: right;
    }

.cart-content-right-button {
    padding-top: 7px;
    text-align: center;
    align-items: center;
}

    .cart-content-right-button button {
        padding: 0 18px;
        height: 35px;
        color: white;
        cursor: pointer;
        background: linear-gradient(90deg, #F4469D 0%, #F3C363 100%);
        border: 2px solid #FFFEFE;
        border-radius: 20px;
    }

        .cart-content-right-button button:first-child {
            margin-right: 20px;
        }

        .cart-content-right-button button:hover {
            border: 2px solid #030303;
            background: linear-gradient(180deg, #F4469D 0%, #F3C363 100%);
        }
/*----------------------------------------payment------------------------------------------*/
.payment {
    padding: 100px 60px;
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%);
}

.payment-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 70px;
}

.payment-top-item {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

    .payment-top-item a, i {
        color: #dddddd;
    }

.payment-top-payment {
    border: 1px solid #0DB7EA;
}

    .payment-top-payment a {
        color: #0DB7EA;
    }

.payment-content-left {
    flex: 2;
    padding-right: 12px;
    border-radius: 5px 0 0 5px;
    background: #f7f1f126;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.payment-content-left-information {
    width: 60%;
}

.payment-content-left-title {
    padding: 12px 11px 0 11px;
}

.payment-content-left-information h1 {
    font-size: 20px;
    padding-right: 200px;
}

.payment-content-left-information a {
    border: 1px solid #ddd;
    padding: 4px;
    color: #2a9dcc;
    border-radius: 5px;
}

    .payment-content-left-information a:hover {
        color: #2e81a1;
    }

.payment-content-left-input-item {
    width: 92%;
    height: 30px;
    padding-left: 6px;
    margin: 5px 5px;
}

    .payment-content-left-input-item input {
        width: 100%;
        border-radius: 5px;
        height: 100%;
        padding-left: 5px;
    }

    .payment-content-left-input-item textarea {
        border-radius: 5px;
        padding-left: 5px;
        max-width: 483px;
        min-width: 483px;
        max-height: 96px;
        min-height: 20px;
    }

.payment-content-left-payment {
    padding: 12px 11px 0 11px;
    width: 40%;
}

    .payment-content-left-payment h1 {
        font-size: 20px;
    }

    .payment-content-left-payment input {
        width: 30px;
    }

.payment-content-right {
    flex: 1;
    padding-left: 12px;
    padding-bottom: 14px;
    border-left: 2px solid #dddddd;
    border-radius: 0 5px 5px 0;
    background: #f7f1f126;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

    .payment-content-right table {
        width: 100%;
        padding: 12px 10px;
    }

        .payment-content-right table th {
            padding-bottom: 5px;
            font-size: 16px;
            color: #333;
            border-collapse: collapse;
            border-bottom: 2px solid #dddddd;
        }

        .payment-content-right table td {
            font-size: 15px;
            color: #333;
            padding: 12px 0;
        }

    .payment-content-right tr:nth-child(4) td {
        border-bottom: 2px solid #dddddd;
    }

    .payment-content-right tr td:last-child {
        text-align: right;
    }

.container .box label {
    display: flex;
    height: 35px;
    width: 93%;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 30px;
    margin: 10px 0;
    padding-left: 10px;
    transition: all 0.3s ease;
}

#option-1:checked ~ .option-1,
#option-2:checked ~ .option-2 {
    background: linear-gradient(90deg, #f4469d36 0%, #f3c3632e 100%);
    border-color: #F4469D;
}

.payment-content-left-payment .container .box label .dot {
    height: 18px;
    width: 18px;
    background: whitesmoke;
    border-radius: 50%;
    position: relative;
    transition: all 0.3s ease;
}

#option-1:checked ~ .option-1 .dot,
#option-2:checked ~ .option-2 .dot {
    background: #fff;
}

.box label .dot::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

#option-1:checked ~ .option-1 .dot::before,
#option-2:checked ~ .option-2 .dot::before {
    background: #F4469D;
    transform: translate(-50%, -50%) scale(1);
}

.payment-content-left-payment .container .box label .text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    padding-left: 10px;
    transition: color 0.3s ease;
}

#option-1:checked ~ .option-1 .text,
#option-2:checked ~ .option-2 .text {
    color: #fff;
}

.payment-content-left-payment .container .box input[type="radio"] {
    display: none;
}

.payment-content-left-payment-bank {
    display: none;
}

    .payment-content-left-payment-bank p {
        font-size: 15px;
        padding-left: 24px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

#option-1:checked ~ .payment-content-left-payment-bank {
    display: block;
}

.payment-content-right-button {
    padding-top: 5px;
    text-align: left;
}

    .payment-content-right-button button {
        padding: 0 18px;
        height: 35px;
        color: white;
        cursor: pointer;
        background: linear-gradient(90deg, #F4469D 0%, #F3C363 100%);
        border: 2px solid #FFFEFE;
        border-radius: 20px;
    }

        .payment-content-right-button button:hover {
            background: linear-gradient(180deg, #F4469D 0%, #F3C363 100%);
            border: 2px solid #ddd;
        }
/*----------------------------------------success------------------------------------------*/
.success {
    padding: 100px 60px;
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%);
}

.success-top-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 70px;
}

.success-top-item {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #dddddd;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

    .success-top-item a {
        color: #dddddd;
    }

.success-top-done {
    border: 1px solid #0DB7EA;
}

    .success-top-done i {
        color: #0DB7EA;
    }

.success-content-left {
    flex: 1.5;
    padding-right: 12px;
    border-radius: 5px 0 0 5px;
    background: #f7f1f126;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

    .success-content-left img {
        padding: 58px 238px 14px;
    }

    .success-content-left h1 {
        padding-top: 5px;
        font-size: 20px;
        text-align: center;
    }

.success-content-right {
    flex: 1.5;
    padding-left: 12px;
    padding-bottom: 14px;
    border-left: 2px solid #dddddd;
    border-radius: 0 5px 5px 0;
    background: #f7f1f126;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

    .success-content-right h3 {
        font-size: 16px;
        padding: 10px 5px;
        border-bottom: 1px solid #ddd;
    }

    .success-content-right h1 {
        font-size: 20px;
        padding: 17px 5px 12px 5px;
    }

    .success-content-right p {
        padding-left: 21px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.success-content-right-button {
    padding-top: 12px;
    padding-left: 21px;
    text-align: left;
}

    .success-content-right-button button {
        padding: 0 18px;
        height: 35px;
        color: white;
        cursor: pointer;
        background: linear-gradient(90deg, #F4469D 0%, #F3C363 100%);
        border: 2px solid #FFFEFE;
        border-radius: 5px;
    }

        .success-content-right-button button:hover {
            background: linear-gradient(180deg, #F4469D 0%, #F3C363 100%);
            border: 2px solid #ddd;
        }
/*-------------------------service---------------------------------------*/
.service {
    padding: 90px 75px;
    background: linear-gradient(90deg, #fea8a740 0%, #fcd2ba73 100%);
}

.service-slides {
    background: linear-gradient(90deg, #fea8a752 0%, #fcd2ba66 100%);
    border-radius: 10px;
    margin: 30px 0;
}

.service-slides-main {
    width: 100%;
}

.service-slides-main-next-left {
    text-align: center;
    width: 5%;
}

    .service-slides-main-next-left img {
        width: 50%;
        padding: 5px 5px 5px 6px;
        margin: 230px 0;
        border: 1px solid #000;
        border-radius: 50%;
        background-color: #FF9D9C;
        cursor: pointer;
    }

.service-slides-main-next-right {
    text-align: center;
    width: 5%;
}

    .service-slides-main-next-right img {
        width: 50%;
        padding: 5px 5px 5px 6px;
        margin: 230px 0;
        border: 1px solid #000;
        border-radius: 50%;
        background-color: #FF9D9C;
        cursor: pointer;
    }

.service-slides-main-center {
    width: 90%;
    padding: 0 22px;
}

.service-slides-main-center-content {
    padding: 154px 43px 255px 80px;
}

    .service-slides-main-center-content h1 {
        font-size: 35px;
        padding-bottom: 21px;
    }

    .service-slides-main-center-content button {
        padding: 0 17px;
        margin-left: 10px;
        height: 35px;
        color: white;
        cursor: pointer;
        background: linear-gradient(90deg, #F4469D 0%, #F3C363 100%);
        border: 2px solid #FFFEFE;
        border-radius: 10px;
    }

        .service-slides-main-center-content button:hover {
            background: linear-gradient(180deg, #F4469D 0%, #F3C363 100%);
            border: 2px solid #ddd;
        }

.service-ads {
    padding: 40px;
    margin: 47px 0;
    background: linear-gradient(90deg, #fea8a752 0%, #fcd2ba66 100%);
    border-radius: 10px;
}

.service-ads-img {
    width: 50%;
    height: 100%;
}

    .service-ads-img img {
        border-radius: 10px;
    }

.service-ads-content {
    width: 50%;
    height: 100%;
}

    .service-ads-content h1 {
        font-size: 35px;
        padding: 0 0 25px 15px;
    }

    .service-ads-content p {
        font-size: 20px;
        padding: 0px 125px 20px 20px;
    }

    .service-ads-content button {
        padding: 0 20px;
        margin-left: 20px;
        height: 35px;
        color: white;
        cursor: pointer;
        background: linear-gradient(90deg, #F4469D 0%, #F3C363 100%);
        border: 2px solid #FFFEFE;
        border-radius: 10px;
    }

        .service-ads-content button:hover {
            background: linear-gradient(180deg, #F4469D 0%, #F3C363 100%);
            border: 2px solid #ddd;
        }
/*-------------------------introduce---------------------------------------*/
.introduce {
    padding: 150px 75px;
    background: linear-gradient(90deg, #fea8a740 0%, #fcd2ba73 100%);
}

    .introduce h2 {
        text-align: center;
        padding-top: 15px;
        font-size: 25px;
    }

    .introduce p {
        background: #fea8a717;
        font-size: 20px;
    }
/*-------------------------phantrang---------------------------------------*/
.pagination-container {
    text-align: center;
    padding-bottom: 10px;
    background: linear-gradient(90deg, #fea8a740 0%, #fcd2ba73 100%);
}

ul.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

    ul.pagination a {
        font-size: 20px;
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        text-align: center;
        transition: background-color .3s;
    }

    ul.pagination li.active a {
        background-color: #FEA8A7;
        color: white;
        border-radius: 5px;
    }

    ul.pagination a:hover:not(.active) {
        background-color: #FEA8A7;
        border-radius: 5px;
    }
.category-right-content-item:hover .category-right-content-item-bottom .fas {
    visibility: visible;
}

.category-right-content-item-bottom .fas{
    visibility: hidden;
}
.category-right-content-item-bottom {
    font-size: 13.5px;
    font-weight: bold;
    text-align:right;
}

    .category-right-content-item-bottom a {
        text-align: right;
        margin-left: 50px;
        background: #FFA9A8;
        color: #333333;
        padding: 8px 8px 8px 6px;
        border-radius: 50%;
        border: 1px solid #333333;
    }

        .category-right-content-item-bottom a:hover {
            background: linear-gradient(180deg, #FEA8A7 100%, #FCD2BA 0%);
            color: #000;
            border: 1px solid #dddddddd;
            transform: scale(1.2);
        }
/*---------------------------------------CTDichVu---------------------------------*/
.CTDichVu {
    padding: 100px 55px 0 12px;
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%);
}

.CTDichVu-container-top {
    display: flex;
    text-align: left;
    padding: 0px 12px 20px 12px;
}

.CTDichVu-content-left {
    width: 50%;
    padding-left: 20px;
}

.CTDichVu-content-left-big-img {
    width: 85%;
    padding: 25px 0px 24px 0px;
}

    .CTDichVu-content-left-big-img img {
        width: 100%;
        border-radius: 5px;
    }

.CTDichVu-content-right {
    width: 50%;
    padding-top: 24px;
}

.CTDichVu-content-right-CTDichVu-name h1 {
    font-size: 26px;
}

.CTDichVu-content-right-CTDichVu-name p {
    font-size: 16px;
    padding-top: 11px;
    padding-left: 5px;
    font-weight: bold;
}

.CTDichVu-content-right-CTDichVu-price p {
    font-size: 17px;
    padding-top: 10px;
    font-weight: bold;
}

.CTDichVu-content-right-CTDichVu-button {
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-left: 5px;
}

    .CTDichVu-content-right-CTDichVu-button p {
        font-size: 16px;
        font-weight: bold;
        padding: 0 5px;
    }

    .CTDichVu-content-right-CTDichVu-button button {
        cursor: pointer;
        height: 40px;
        transition: all 0.3s ease;
        padding: 0 10px;
        margin-right: 10px;
        align-items: center;
        border-radius: 5px;
    }

    .CTDichVu-content-right-CTDichVu-button #bnt-gocart {
        display: flex;
        color: #000;
        background-color: #FF9F87;
    }

    .CTDichVu-content-right-CTDichVu-button #bnt-gocart {
        background-color: #FB7677;
        border: 1px solid #191818;
    }

    .CTDichVu-content-right-CTDichVu-button button:last-child {
        background-color: #0074CC;
        color: white;
    }

        .CTDichVu-content-right-CTDichVu-button button:last-child:hover {
            border: 1px solid #191818;
            background-color: #055b9d;
        }

.CTDichVu-content-right-bottom {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid #dddddd;
    position: relative;
}

.CTDichVu-content-right-bottom-top {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.CTDichVu-content-right-bottom-content-title {
    border-bottom: 2px solid #dddddd;
}

.CTDichVu-content-right-bottom-content-title-item {
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
}

    .CTDichVu-content-right-bottom-content-title-item p {
        font-size: 16px;
        font-weight: bold;
    }

.CTDichVu-content-right-bottom-content {
    padding-top: 20px;
    font-size: 15px;
    padding-left: 5px;
}

.CTDichVu-content-right-bottom-content-lic {
    display: none;
}

.CTDichVu-content-right-bottom-content-hdsd {
    display: none;
}

.activeB {
    display: none;
}

.color-item-select {
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%) !important;
}

.color-item {
    background: none;
}

.CTDichVu-related {
    padding: 1px 45px 45px;
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%);
}

.CTDichVu-related-title {
    margin: 20px 0;
}

    .CTDichVu-related-title p {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
    }

.CTDichVu-related-item {
    width: calc(20% - 10px);
    text-align: center;
    padding: 12px 12px;
    margin: 5px;
    background: linear-gradient(180deg, #F4439F 0%, #F3C960 100%);
    border-radius: 15px;
}

    .CTDichVu-related-item img {
        width: 100%;
        padding: 0 6px;
        border-radius: 15px;
    }

    .CTDichVu-related-item h1 {
        font-size: 15px;
        font-weight: bold;
        color: #333333;
        margin-top: 6px;
    }

    .CTDichVu-related-item p {
        font-size: 13px;
    }
/*---------------------------------------CTThuCung---------------------------------*/
.CTThuCung {
    padding: 100px 55px 0 12px;
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%);
}

.CTThuCung-container-top {
    display: flex;
    text-align: left;
    padding: 0px 12px 20px 12px;
}

.CTThuCung-content-left {
    width: 50%;
    padding-left: 20px;
}

.CTThuCung-content-left-big-img {
    width: 85%;
    padding: 25px 0px 24px 0px;
}

    .CTThuCung-content-left-big-img img {
        width: 100%;
        border-radius: 5px;
    }

.CTThuCung-content-right {
    width: 50%;
    padding-top: 24px;
}

.CTThuCung-content-right-CTThuCung-name h1 {
    font-size: 26px;
}

.CTThuCung-content-right-CTThuCung-name p {
    font-size: 16px;
    padding-top: 11px;
    padding-left: 5px;
    font-weight: bold;
}

.CTThuCung-content-right-CTThuCung-price p {
    font-size: 17px;
    padding-top: 10px;
    font-weight: bold;
}

.CTThuCung-content-right-CTThuCung-button {
    display: flex;
    align-items: center;
    padding-top: 22px;
    padding-left: 5px;
}

    .CTThuCung-content-right-CTThuCung-button p {
        font-size: 16px;
        font-weight: bold;
        padding: 0 5px;
    }

    .CTThuCung-content-right-CTThuCung-button button {
        cursor: pointer;
        height: 40px;
        transition: all 0.3s ease;
        padding: 0 10px;
        margin-right: 10px;
        align-items: center;
        border-radius: 5px;
    }

    .CTThuCung-content-right-CTThuCung-button #bnt-gocart {
        display: flex;
        color: #000;
        background-color: #FF9F87;
    }

    .CTThuCung-content-right-CTThuCung-button #bnt-gocart {
        background-color: #FB7677;
        border: 1px solid #191818;
    }

    .CTThuCung-content-right-CTThuCung-button button:last-child {
        background-color: #0074CC;
        color: white;
    }

        .CTThuCung-content-right-CTThuCung-button button:last-child:hover {
            border: 1px solid #191818;
            background-color: #055b9d;
        }

.CTThuCung-content-right-bottom {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid #dddddd;
    position: relative;
}

.CTThuCung-content-right-bottom-top {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.CTThuCung-content-right-bottom-content-title {
    border-bottom: 2px solid #dddddd;
}

.CTThuCung-content-right-bottom-content-title-item {
    padding: 6px;
    cursor: pointer;
    margin-right: 6px;
}

    .CTThuCung-content-right-bottom-content-title-item p {
        font-size: 16px;
        font-weight: bold;
    }

.CTThuCung-content-right-bottom-content {
    padding-top: 20px;
    font-size: 15px;
    padding-left: 5px;
}

.CTThuCung-content-right-bottom-content-hdsd {
    display: none;
}

.activeB {
    display: none;
}

.color-item-select {
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%) !important;
}

.color-item {
    background: none;
}

.CTThuCung-related {
    padding: 1px 45px 45px;
    background: linear-gradient(90deg, #FEA8A7 0%, #FCD2BA 100%);
}

.CTThuCung-related-title {
    margin: 20px 0;
}

    .CTThuCung-related-title p {
        font-size: 16px;
        font-weight: bold;
        color: #333333;
    }

.CTThuCung-related-item {
    width: calc(20% - 10px);
    text-align: center;
    padding: 12px 12px;
    margin: 5px;
    background: linear-gradient(180deg, #F4439F 0%, #F3C960 100%);
    border-radius: 15px;
}

    .CTThuCung-related-item img {
        width: 100%;
        padding: 0 6px;
        border-radius: 15px;
    }

    .CTThuCung-related-item h1 {
        font-size: 15px;
        font-weight: bold;
        color: #333333;
        margin-top: 6px;
    }

    .CTThuCung-related-item p {
        font-size: 13px;
    }
.ThuCung {
    width: 1475px;
    display: inline-block;
    padding: 100px 55px 12px;
    background-color: #FCCDCD;
}

.ThuCung-top {
    display: flex;
    text-align: left;
    padding: 12px 12px 20px 12px;
}

    .ThuCung-top a {
        font-size: 19px;
        font-weight: bold;
        margin: 0 7px;
    }

        .ThuCung-top a:last-child {
            font-size: 14px;
            font-weight: bold;
            margin: 5px 6px;
        }

    .ThuCung-top span {
        font-size: 20px;
        font-weight: bold;
    }

.ThuCung-left {
    width: 26%;
}

.ThuCung-left-item {
    background: linear-gradient(180deg, #F4439F 0%, #F3C960 100%);
    border-radius: 15px;
    width: 73%;
    height: 33%;
    padding: 3px;
    margin: 33px 22px;
    cursor: pointer;
}

    .ThuCung-left-item:first-child {
        margin-top: 56px;
    }

    .ThuCung-left-item img {
        height: 100%;
        width: 60%;
        border-radius: 15px;
    }

    .ThuCung-left-item p {
        width: 40%;
        font-size: 20px;
        text-align: center;
        margin: 61px 0;
    }

.ThuCung-right {
    width: 74%;
    height: 100%;
}

.ThuCung-right-top-item {
    flex: 1;
}

    .ThuCung-right-top-item:first-child {
        flex: 2;
    }

.ThuCung-right-top-item {
    padding: 0 10px;
}

    .ThuCung-right-top-item select {
        width: 100%;
        height: 100%;
        font-size: 17px;
        margin: 4px;
        border: 1px solid #ddd;
        border-radius: 5px;
        cursor: pointer;
    }

.ThuCung-right-content {
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    justify-content: flex-start;
    height: 100%;
}

.ThuCung-right-content-item {
    height: 30%;
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 12px;
    margin: 5px;
    background: linear-gradient(180deg, #F4439F 0%, #F3C960 100%);
    border-radius: 15px;
}

    .ThuCung-right-content-item h3 {
        font-size: 14px;
        margin-top: 6px;
        color: #333333;
        height: 20%;
    }

    .ThuCung-right-content-item p {
        font-weight: bold;
        font-size: 14px;
    }

    .ThuCung-right-content-item img {
        width: 100%;
        height: 70%;
        border-radius: 15px;
    }

.ThuCung-right-pagination {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0 346px;
    margin: 20px 346px 0;
}

    .ThuCung-right-pagination a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        text-align: center;
        transition: background-color .3s;
    }

        .ThuCung-right-pagination a.active {
            background-color: #4CAF50;
            color: white;
            border-radius: 5px;
        }

        .ThuCung-right-pagination a:hover:not(.active) {
            background-color: #ddd;
            border-radius: 5px;
        }