@{
    ViewBag.Title = "Forgot Password Confirmation"; Layout = "";
}

<main aria-labelledby="title">
    <hgroup class="title">
        <h1 id="title">@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Vui lòng kiểm tra email của bạn để thiết lập lại mật khẩu của bạn.
        </p>
    </div>
</main>
