@model PagedList.IPagedList<Pet_Shop.Models.DichVu>
@*@model IEnumerable<Pet_Shop.Models.DoDungTC>*@
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="service">
    @foreach (var item in Model)
    {
        <div class="service-ads row">
            <div class="service-ads-img">
                <img src="@Url.Content(item.DoiTuongKD.AnhDaiDien)">
            </div>
            <div class="service-ads-content">
                <h1>@Html.DisplayFor(modelItem => item.TenDV)</h1>
                <p>@Html.DisplayFor(modelItem => item.DoiTuongKD.MoTa)</p>
                <button>Book lịch ngay</button>
            </div>
        </div>
    }
</div>
@Html.PagedListPager(Model, page => Url.Action("DichVu", new { page, @class = "active" }))