
@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="introduce">
    <h2>Giới thiệu về Kata Pet Shop</h2><br>
    <p>Kata Pet Shop là chuỗi pet shop thú cưng Đồ dùng cho chó – Đồ dùng cho mèo  tại  TP.HCM chuyên cung cấp đồ dùng, quần áo, thức ăn, sữa tắm, chuồng, vòng cổ xích và các phụ kiện cho Chó cảnh, Mèo cảnh. Cùng nhiều bài viết chia sẻ kinh nghiệm chăm sóc Thỏ cảnh, Chuột cảnh, Sóc cảnh, Chim cảnh, Bò sát cảnh hàng đầu tại Việt Nam. Địa chỉ nhận tắm spa, chăm sóc, cắt tỉa lông và trông giữ thú cưng chuyên nghiệp.</p>
    <br>
    <h2>Cam kết của chúng tôi</h2><br>
    <p>
        Kata Pet Shop cung cấp những sản phẩm và dịch vụ chất lượng tốt nhất dành cho thú cưng.<br>
        Phát triển nhiều loại dịch vụ phong phú để giúp cho cuộc sống của thú cưng đầy đủ và hạnh phúc hơn.<br>
        Xây dựng và mở rộng hệ thống các cửa hàng với những tiện ích tốt nhất cho thú cưng.<br>
        Làm việc không mệt mỏi để cải thiện cuộc sống của thú cưng nói riêng. Và các loài động vật khác tại Việt Nam nói chung.<br>
        Không ngừng sáng tạo để đáp ứng tốt hơn nữa nhu cầu của vật nuôi và mong muốn của khách hàng.
    </p><br>
    <h2>Tầm nhìn của chúng tôi</h2><br>
    <p>
        Chúng tôi tin rằng đó là nhiệm vụ của chúng tôi để đảm bảo sức khỏe và hạnh phúc cho thú cưng. Giúp chúng thật sự hiểu rằng chúng đang được yêu thương và an toàn.<br>
        Chúng tôi tin rằng thú cưng sẽ làm cho con người tốt đẹp hơn. Chúng sẽ làm phong phú thêm cho cuộc sống của chúng ta và xây dựng xã hội văn minh, phát triển.<br>
        Chúng tôi tin tưởng vào những gì chúng tôi đang làm dựa trên những giá trị tiêu chuẩn trong việc chăm sóc động vật. Chất lượng sản phẩm và chăm sóc khách hàng.
    </p><br>
    <h2>Định hướng của chúng tôi</h2><br>
    <p>
        Chúng tôi tin rằng với khả năng tư vấn, giao tiếp và cung cấp dịch vụ tốt nhất cho khách hàng sẽ dẫn đến kết quả tài chính vững mạnh và phát triển lâu dài. Pet Mart đánh giá những yếu tố góp phần phát triển cho công ty ở 4 cấp độ:<br>

        Hiệu quả quản lý lãnh đạo: Tạo ra một môi trường làm việc theo nhóm chuyên nghiệp. Không ngừng tái cơ cấu quản lý, chia sẻ tích lũy kinh nghiệm. Hoạt động ngoại khóa để tạo ra hiệu quả giá trị cho công việc.<br>
        Tâm huyết với nghề: Coi trọng, đánh giá và khen thưởng những người có đóng góp tuyệt vời cho công ty. Xây dựng những chính sách đãi ngộ tốt nhất cho nhân sự gắn bó lâu dài.<br>
        Giá trị của khách hàng: Hãy giữ cho khách hàng quay trở lại và đem lại những giá trị thiết thực nhất.<br>
        Điều hành tăng trưởng lợi nhuận: Là yếu tố quyết định sự phát triển của doanh nghiệp trong tương lai.
    </p><br>
</div>