@model Pet_Shop.Models.DoiTuongKD
@{
    ViewBag.Title = "Design";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<div class="category">
    <div class="category-top">

    </div>
    <div class="row">
        <div class="category-left">
            <div class="category-left-item row">
                <img src="~/Theme/images/Meo2.png" alt="">
                <p>Mèo</p>
            </div>
            <div class="category-left-item row">
                <img src="~/Theme/images/gau2.png" alt="">
                <p>Chó</p>
            </div>
            <div class="category-left-item row">
                <img src="~/Theme/images/food.png" alt="">
                <p>Thức ăn</p>
            </div>
            <div class="category-left-item row">
                <img src="~/Theme/images/bodydv.png" alt="">
                <p>Đồ dùng</p>
            </div>
        </div>
        <div class="category-right">
            <div class="category-right-top row">
                <div class="category-right-top-item">
                    <h2>Pate & Nước sốt</h2>
                </div>
                <div class="category-right-top-item">
                    <select name="" id="">
                        <option value="">Sắp xếp</option>
                        <option value="">Giá cao đến thấp</option>
                        <option value="">Giá thấp đến cao</option>
                    </select>
                </div>
            </div>
            <div class="category-right-content columm ">
                @*@model IEnumerable<Pet_Shop.Models.DoiTuongKD>

                @foreach (var item in Model)
                {
                    <div class="category-right-content-item">
                        <a href="product.html">
                            <img src="~/Theme/images/@item.AnhDaiDien" alt="">
                            <h3>@Html.DisplayFor(modelItem => item.ChiTiet)</h3>
                            <p>@Html.DisplayFor(modelItem => item.DonGia)<sup>đ</sup></p>
                        </a>
                    </div>
                }*@
                <div class="category-right-content-item">
                    <a href="product.html">
                        <img src="~/Theme/images/sp1.jpg" alt="">
                        <h3>Pate cho mèo vị nước sốt cá ngừ WHISKAS Tuna Flavour Sauce</h3>
                        <p>25.000<sup>đ</sup></p>
                    </a>
                </div>
                <div class="category-right-content-item">
                    <a href="product.html">
                        <img src="~/Theme/images/sp2.jpg" alt="">
                        <h3>Pate cho mèo vị cua CAT SEA FISH Tuna With Surimi</h3>
                        <p>30.000<sup>đ</sup></p>
                    </a>
                </div>
                <div class="category-right-content-item">
                    <a href="product.html">
                        <img src="~/Theme/images/sp1.jpg" alt="">
                        <h3>Pate cho mèo vị nước sốt cá ngừ WHISKAS Tuna Flavour Sauce</h3>
                        <p>25.000<sup>đ</sup></p>
                    </a>
                </div>
                <div class="category-right-content-item">
                    <a href="product.html">
                        <img src="~/Theme/images/sp3.jpg" alt="">
                        <h3>Pate cho mèo CIAO Tuna & Whitebait vị cá ngừ và cá chạch trắng</h3>
                        <p>20.000<sup>đ</sup></p>
                    </a>
                </div>
                <div class="category-right-content-item">
                    <a href="product.html">
                        <img src="~/Theme/images/sp4.jpg" alt="">
                        <h3>Pate cho mèo hương vị cá ngừ và cua IRIS Tuna & Crab</h3>
                        <p>35.000<sup>đ</sup></p>
                    </a>
                </div>
                <div class="category-right-content-item">
                    <a href="product.html">
                        <img src="~/Theme/images/sp5.jpg" alt="">
                        <h3>Pate cho mèo vị cá ngừ và cá hồi IRIS Alice Cat</h3>
                        <p>35.000<sup>đ</sup></p>
                    </a>
                </div>
                <div class="category-right-content-item">
                    <a href="product.html">
                        <img src="~/Theme/images/sp6.jpg" alt="">
                        <h3>Pate cho mèo vị cá ngừ và thịt gà IRIS Tuna Chicken</h3>
                        <p>25.000<sup>đ</sup></p>
                    </a>
                </div>
                <div class="category-right-content-item">
                    <a href="product.html">
                        <img src="~/Theme/images/sp7.jpg" alt="">
                        <h3>Pate cho mèo vị cá ngừ và thịt gà IRIS Bonito Chicken</h3>
                        <p>25.000<sup>đ</sup></p>
                    </a>
                </div>
                <div class="category-right-content-item">
                    <a href="product.html">
                        <img src="~/Theme/images/sp8.jpg" alt="">
                        <h3>Thịt ức gà nướng sốt cá ngừ cho mèo CIAO Tuna</h3>
                        <p>30.000<sup>đ</sup></p>
                    </a>
                </div>
                <div class="category-right-content-item">
                    <a href="product.html">
                        <img src="~/Theme/images/sp9.jpg" alt="">
                        <h3>Nước sốt pate cho mèo CIAO vị cá ngừ & cá bào nhật</h3>
                        <p>35.000<sup>đ</sup></p>
                    </a>
                </div>
                <div class="category-right-content-item">
                    <a href="product.html">
                        <img src="~/Theme/images/sp1.jpg" alt="">
                        <h3>Pate cho mèo vị nước sốt cá ngừ WHISKAS Tuna Flavour Sauce</h3>
                        <p>25.000<sup>đ</sup></p>
                    </a>
                </div>
                <div class="category-right-content-item">
                    <a href="product.html">
                        <img src="~/Theme/images/sp10.jpg" alt="">
                        <h3>Pate cho mèo CIAO Chicken Fillet & Grilled Bonito vị gà phi lê</h3>
                        <p>55.000<sup>đ</sup></p>
                    </a>
                </div>
            </div>
            <div class="category-right-pagination">
                <a href="#">&laquo;</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
    </div>
</div>

