
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="service">
    @*<div class="service-slides">
        <div class="service-slides-main row">
            <div class="service-slides-main-next-left">
                <img src="images/nextlse.png" alt="">
            </div>
            <div class="service-slides-main-center row">
                <div class="service-slides-main-center-img">
                    <div class="service-slides-main-center-img-1">
                        <img src="images/se1.png" alt="">
                    </div>
                    <div class="service-slides-main-center-img-2" style="display: none;">
                        <img src="images/se3.png" alt="">
                    </div>
                </div>

                <div class="service-slides-main-center-content">
                    <div class="service-slides-main-center-content-1">
                        <h1>TỈA LÔNG GÂU GÂU</h1>
                    </div>
                    <div class="service-slides-main-center-content-2">
                        <h1>CẮT MÓNG MEO MEO</h1>
                    </div>
                    <a href=""><button>Xem thêm</button></a>
                    <a href=""><button>Book lịch ngay</button></a>
                </div>
            </div>
            <div class="service-slides-main-next-right">
                <img src="images/nextrse.png" alt="">
            </div>
        </div>
    </div>*@
    <div class="service-ads row">
        <div class="service-ads-img">
            <img src="~/Theme/images/se2.png" alt="">
        </div>
        <div class="service-ads-content">
            <h1>TỈA LÔNG GÂU GÂU</h1>
            <p>Để giúp cho boss trở nên đáng yêu hơn, cửa hàng của chúng tôi cung cấp dịch vụ tỉa lông để makeup nhan sắc cho boss khiến vạn người mê.</p>
            <button>Book lịch ngay</button>
        </div>
    </div>
    <div class="service-ads row">
        <div class="service-ads-content">
            <h1>CẮT MÓNG MEO MEO</h1>
            <p>Ow.....Boss lại dùng bộ móng sắc bén để “yêu thương” bạn nhưng bạn lại không dám tụ mình cắt móng sao? Đừng lo hãy để chúng tôi!!!!!</p>
            <button>Book lịch ngay</button>
        </div>
        <div class="service-ads-img">
            <img src="~/Theme/images/se3.png" alt="">
        </div>
    </div>
    <div class="service-ads row">
        <div class="service-ads-img">
            <img src="~/Theme/images/se4.png" alt="">
        </div>
        <div class="service-ads-content">
            <h1>TẮM GÂU MEO</h1>
            <p>Đẹp thì có rồi nhưng mà hình như còn hơi thiếu gì đó. Á à, chính là mùi thơm, phải thơm tho sạch sẽ thì mới được chứ :3333</p>
            <button>Book lịch ngay</button>
        </div>
    </div>
    <div class="service-ads row">
        <div class="service-ads-content">
            <h1>KHÁCH SẠN GÂU MEO</h1>
            <p>Mama , Papa đi chơi bỏ con ở nhà hả :<<<. Thoi con đừng buồn, đến đây chơi với cô chú và các bạn con sẽ không cô đơn nữa nè.</p>
            <button>Book lịch ngay</button>
        </div>
        <div class="service-ads-img">
            <img src="~/Theme/images/se5.png" alt="">
        </div>
    </div>
</div>