@model Pet_Shop.Models.LoaiDD

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin_PetShop.cshtml";
}

<div>
    <h4>Thông tin loại đồ dùng thú cưng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoaiDD) : @Html.DisplayFor(model => model.TenLoaiDD)
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
